html {
  font-size: 20px;
  line-height: 1.5;
}

.container-medium {
  max-width: 800px;
}

.App {
  padding: 3rem 0;
}

.book-pages {
  margin-bottom: 3rem;
}

.books {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  width: 100%;
}

.books .book-cover {
  width: 16px;
  border-radius: 3px;
  background-color: #54494b;
  list-style: none;
  display: block;
}

.books .book {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.books .book .book-page {
  width: 2px;
  height: 700px;
  list-style: none;
  position: relative;
  overflow: hidden;
  margin: 8px 0;
  transition: all 50ms ease-in-out;
}

.books .book.book--active .book-page {
  filter: saturate(100%)!important;
}

.books .book.book--author-active .book-page {
  
}

.books .book.book--series-active .book-page {
  
}

.books .book.book--desaturated .book-page {
  opacity: .5;
  filter: saturate(5%);
}

.authors-list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.authors-list .author {
  list-style: none;
  font-size: .8rem;
}

.authors-list .author:hover {
  cursor: pointer;
}

.authors-list .author.author--selected {
  font-weight: 600;
  color: green;
}

.series-list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.series-list .series {
  list-style: none;
  font-size: .8rem;
}

.series-list .series:hover {
  cursor: pointer;
}

.series-list .series.series--selected {
  font-weight: 600;
  color: green;
}